<%- include('parts/html_head') %> 
<div class="container">
<form action="http://127.0.0.1:3000/login", method="POST" autocomplete="off">
    <div class="form-group">
      <label >Name</label>
      <input type="name" class="form-control" name='name' >
  
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name='password'>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-primary">reset</button>
    <a class="btn btn-primary" href="http://127.0.0.1:3000/registerPage">Register</a>
    <%= status %><%= loginMember %>
    
  </form>
</div>
  

  <%- include('parts/html_script') %>
  <%- include('parts/html_foot') %>  