<%- include('parts/html_head') %> 
<div>
    <form action="http://127.0.0.1:3000/register", method="POST">
            <div class="form-group">
                <label for="exampleInputPassword1">Name</label>
                <input type="name" class="form-control"  name='name'>
              </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control"  name='password'>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="text" class="form-control"  aria-describedby="emailHelp" name='email'>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-primary">reset</button>
          </form>
          <%= status %><%= err %>
          
    </div>
  

  <%- include('parts/html_script') %>
  <%- include('parts/html_foot') %>  